@mixin materialicon($icon)
  font-family: "Material-Design-Iconic-Font"
  content: $icon

@mixin fontawesome($icon)
  font-family: "fontawesome-webfont"
  content: $icon

@mixin clearfix
  &:after
    content: ""
    display: table
    clear: both
