//@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,700,300,600)
@import url(https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.1.2/css/material-design-iconic-font.min.css)

@mixin fontFace($fontSrc, $fontName)
  font-family: '#{$fontName}'
  src: font-url("#{$fontSrc}.eot" + "?#iefix") format('embedded-opentype'), font-url("#{$fontSrc}.woff") format('woff'), font-url("#{$fontSrc}.ttf") format('truetype'), font-url("#{$fontSrc}.svg" + "##{$fontName}") format('svg')
  font-weight: normal
  font-style: normal

@font-face
  +fontFace("decimamono-webfont","decima_monoregular")

@font-face
  font-family: 'decima_monobold'
  src: font-url(''decimamono'-bold-webfont.eot' + "?#iefix") format('embedded-opentype'), font-url(''decimamono'-bold-webfont.woff') format('woff'), font-url(''decimamono'-bold-webfont.ttf') format('truetype'), font-url(''decimamono'-bold-webfont.svg' + "#decima_monobold") format('svg')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'decima_monobold_italic'
  src: font-url(''decimamono'-italic-webfont.eot' + "?#iefix") format('embedded-opentype'), font-url(''decimamono'-italic-webfont.woff') format('woff'), font-url(''decimamono'-italic-webfont.ttf') format('truetype'), font-url(''decimamono'-italic-webfont.svg' + "#decima_monobold_italic") format('svg')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'decima_monoitalic'
  src: font-url(''decimamono'-italic-webfont.eot' + "?#iefix") format('embedded-opentype'), font-url(''decimamono'-italic-webfont.woff') format('woff'), font-url(''decimamono'-italic-webfont.ttf') format('truetype'), font-url(''decimamono'-italic-webfont.svg' + "#decima_monoitalic") format('svg')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'decima_monolight'
  src: font-url(''decimamono'-light-webfont.eot' + "?#iefix") format('embedded-opentype'), font-url(''decimamono'-light-webfont.woff') format('woff'), font-url(''decimamono'-light-webfont.ttf') format('truetype'), font-url(''decimamono'-light-webfont.svg' + "#decima_monoregular") format('svg')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'decima_monolight_italic'
  src: font-url(''decimamono'-lightitalic-webfont.eot' + "?#iefix") format('embedded-opentype'), font-url(''decimamono'-lightitalic-webfont.woff') format('woff'), font-url(''decimamono'-lightitalic-webfont.ttf') format('truetype'), font-url(''decimamono'-lightitalic-webfont.svg' + "#decima_monolight_italic") format('svg')
  font-weight: normal
  font-style: normal

body
  font-family: 'decima_monoregular'

$susy: ( columns: 12, gutters: 10, column-width: 70px, gutter-position: inside )

$breakpoint-desktop: 1024px
$breakpoint-tablet: 768px
$breakpoint-mobile: 480px

$font-primary: 'Open Sans', 'sans-serif'

// Grid settings
$main-sm-columns: 12
$sidebar-sm-columns: 4

// Colors
$brand-primary-400: #A95DCA
$brand-primary-500: #A554CA
$brand-primary-600: #7A4093

// Black
$black-600: #313131
$black-500: #383838
$black-400: #7E7D7D
$black-300: #BCBCBC
$black-200: #E4E4E4
$black-100: #F1F1F1

// Material Icons
$long-arrow-up: ""
$long-arrow-right: ""
$long-arrow-down: ""
$long-arrow-left: ""
$chevron-up: ""
$chevron-down: ""
$codepen: ""
$dribbble: ""
$github: ""
$linkedin: ""

//Font Awesome


// Breakpoints
$breakpoint-mobile: 320px
$breakpoint-tablet: 768px
$breakpoint-desktop: 1024px
