// - - - - Contact Styling - - - - //
.contact
  &__info
    position: relative
    max-width: 300px
    margin-left: auto
    margin-right: auto
    padding: 20px
    color: $black-500
    font-family: $font-primary
    font-size: 18px
    line-height: 24px
    &-link
      display: block
      transition: color .3s ease
      color: $black-500
      margin-bottom: 20px
      @media (min-width: $breakpoint-tablet)
        border-bottom: none
      &:hover
        color: $brand-primary-500
    &-title
      @extend .footer__sub-title

  &__social
    &-icon
      &--github
        color: $black-500
        transition: color .3s ease
        font-size: 20px
        &:hover
          color: $brand-primary-500
        &:before
          +materialicon($github)
          padding-right: 10px
      &--dribbble
        color: $black-500
        transition: color .3s ease
        font-size: 20px
        &:hover
          color: $brand-primary-500
        &:before
          +materialicon($dribbble)
          padding-right: 10px
      &--linkedin
        color: $black-500
        transition: color .3s ease
        font-size: 20px
        &:hover
          color: $brand-primary-500
        &:before
          +materialicon($linkedin)
          padding-right: 10px
      &--codepen
        color: $black-500
        transition: color .3s ease
        font-size: 20px
        &:hover
          color: $brand-primary-500
        &:before
          +materialicon($codepen)
          padding-right: 10px


