@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,700,300,600)

$susy: ( columns: 12, gutters: 10, column-width: 70px, gutter-position: inside )

$breakpoint-desktop: 1024px
$breakpoint-tablet: 768px
$breakpoint-mobile: 480px

$font-primary: 'Open Sans', 'sans-serif'
