// Keyframes // 

@-webkit-keyframes hvr-pop 
  50% 
    -webkit-transform: scale(1.4)
    transform: scale(1.4)

@keyframes hvr-pop 
  50% 
    -webkit-transform: scale(1.4)
    transform: scale(1.4)

// Placeholders //

%footer__horizontal-rule
  margin: 20px 0
  width: 100%
  height: 1px
  background-color: white
  opacity: 0.3

%footer__copyright
  float: left
  display: inline-block
  color: white
  font-size: 12px
  font-weight: 300
  letter-spacing: 0.2px
  line-height: 17px
  opacity: 0.5

%footer__social-buttons
  float: right
  display: inline-block
  outline: 0
  border: 0
  cursor: pointer

%footer__social-buttons-icon
  width: 15px
  height: 15px
  margin: 0 0 0 10px
  display: inline-block
  vertical-align: middle
  outline: 0
  border: 0
  -webkit-transform: translateZ(0)
  transform: translateZ(0)
  box-shadow: 0 0 1px rgba(0, 0, 0, 0)
  -webkit-backface-visibility: hidden
  backface-visibility: hidden
  -moz-osx-font-smoothing: grayscale
  &:hover
    -webkit-animation-name: hvr-pop
    animation-name: hvr-pop
    -webkit-animation-duration: 0.3s
    animation-duration: 0.3s
    -webkit-animation-timing-function: linear
    animation-timing-function: linear
    -webkit-animation-iteration-count: 1
    animation-iteration-count: 1

// Footer Common // 

.footer
  +pull(gutters())
  +span(12 of 12)
  position: absolute
  bottom: 0
  padding-bottom: 20px
  display: block
  clear: both
  @media (min-width: $breakpoint-desktop)
    +span(8 of 12)
  &__horizontal-rule
    @extend %footer__horizontal-rule
  &__copyright
    @extend %footer__copyright
  &__social-buttons
    @extend %footer__social-buttons
  &__social-buttons-icon
    @extend %footer__social-buttons-icon
    img
      //TODO: fix for BEM
      width: auto
      height: 100%
      border: 0
      outline: 0