.container
  +clearfix
  margin: 0 auto
  max-width: 1024px
  &.content
    padding: 20px
    @media (min-width: $breakpoint-tablet)
      padding: 10px

.pageheader
  margin-top: 40px
  padding: 0 10px
  @media (min-width: $breakpoint-tablet)
    padding: 0 20px