$susy: ( columns: 12, gutters: 10, column-width: 70px, gutter-position: inside )

img
  max-width: 100%

div, header, footer
  box-sizing: border-box

html
  position: relative
  height: auto
  min-height: 100%
  margin: 0
  padding: 0

body
  height: auto
  min-height: inherit
  margin: 0
  padding: 0 0 190px 0
  font-family: $font-primary